/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.07.2016, 09:04:59
    Author     : benno
*/


#lblTournament {
    -fx-font: 16px Tahoma;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    
}

#lblClub {
    -fx-font: 16px Tahoma;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    
}

#statusLabel {
    -fx-font: 14px Tahoma;
    -fx-text-fill: red;
}

